sudo: true
language: rust
rust:
    - stable
    - 1.50.0  # Min Rust Version
    - beta
    - nightly

cache:
    cargo: true
matrix:
    include:
        - env: GHP_UPLOAD_VERSION=0.3.2
    install:
        - cargo install --version $GHP_UPLOAD_VERSION cargo-ghp-upload
    script:
        - cargo doc --verbose --no-deps && cargo ghp-upload -vv

script:
- cargo build --verbose
- cargo test --verbose